<!DOCTYPE html>
<html>

<head>
  <title>Search | Board Game Vault</title>
</head>

<body>
  <h1>Search Game</h1>
  <form action="/find_game" method="get">
    <p>
      Search: <input type="text" name="query" value="{{ query }}" />
    </p>
    <input type="submit" value="Send">
  </form>

  <p>
    <a href="/">Return</a>
  </p>

  {% if query %}
  <h2>Results</h2>
  <ul>
    {% for game in results %}
    <li><a href="/game/{{game.id}}">{{ game.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

</body>

</html>
