<p>
  <label for="title">Title</label>: <br />
  <input type="text" name="title" id="title" maxlength="50" required value="{{ game.title if game else '' }}" />
</p>
<p>
  <label for="description">Description</label>: <br />
  <textarea id="description" name="description" rows="8" cols="60" maxlength="1000" required>{{ game.description if game else '' }}</textarea>
</p>
<p>
  <label for="year">Year</label>: <br />
  <input type="number" id="year" name="year" min="1" max="2100" required value="{{ game.year if game and game.year != 0 else '' }}" />
</p>
<p>
  <label for="min_player_count">Minimum player amount</label>: <br />
  <input type="number" id="min_player_count" name="min_player_count" min="1" max="100" required value="{{ game.min_player_count if game and game.min_player_count != 0 else '' }}" />
</p>
<p>
  <label for="max_player_count">Maximum player amount</label>: <br />
  <input type="number" id="max_player_count" name="max_player_count" min="1" max="100" required value="{{ game.max_player_count if game and game.max_player_count != 0 else '' }}" />
</p>
<p>
  <label for="playtime">Average play time (minutes)</label>: <br />
  <input type="number" id="playtime" name="playtime" min="1" max="10000" required value="{{ game.playtime if game and game.playtime != 0 else '' }}" />
</p>

{% set available_classes = all_classes if all_classes is defined else classes %}
{% for class in available_classes %}
<p>
  <label for="class{{ class }}">{{ class }}</label>: <br />
  <select name="classes" id="class{{ class }}">
    <option value="">(Choose)</option>
    {% for option in available_classes[class] %}
    {% set opt_val = class ~ ":" ~ option %}
    {% set is_selected = (opt_val in request.form.getlist('classes')) or (classes is defined and classes is mapping and classes.get(class) == option) %}
    <option value="{{ opt_val }}" {% if is_selected %}selected{% endif %}>
      {{ option }}
    </option>
    {% endfor %}
  </select>
</p>
{% endfor %}
