<!DOCTYPE html>
<html>

<head>
  <title>Board Game Vault</title>
</head>

<body>
  {% if session.username %}
  <p>
    You are logged in as {{session.username}} with an id {{ session.user_id }}.
  </p>

  <p>
    <a href="/logout">Log out</a>
  </p>

  <p>
    <a href="/new_game">Add new game</a>
  </p>

  {% else %}
  <p>
    <a href="/login">Log in</a>
    <a href="/register">Register</a>
  </p>
  {% endif %}

  <h2>Games</h2>

  <ul>
    {% for game in games %}
    <li><a href="/game/{{ game.id }}">{{ game.title }}</a></li>
    {% endfor %}
  </ul>
  
</body>

</html>
