{% extends "layout.html" %}

{% block title %}{{ game.title }} | {% endblock %}

{% block content %}
<h2>{{ game.title }}</h2>

{% if session.user_id == game.user_id %}
<p>
  <a href="/edit_game/{{ game.id }}">Edit</a>
  <a href="/remove_game/{{ game.id }}">Delete</a>
</p>
{% endif %}
<p>
  {{ game.description }}
</p>
<p>
  Year: {{ game.year }}
</p>
<p>
  Players: {{ game.min_player_count }}-{{ game.max_player_count }}
</p>
<p>
  Average play time: {{ game.playtime }} minutes
</p>
{% if classes %}
<ul>
  {% for class in classes %}
  <li>{{ class.title }}: {{ class.value }}</li>
  {% endfor %}
</ul>
{% endif %}
<p>
  Game added by: <a href="/user/{{ game.user_id }}">{{ game.username }}</a>
</p>
<h3>Reviews</h3>
<ul>
  {% for review in reviews %}
  <li>Rating: {{ review.rating }}/5, {{ review.description }}, By: <a href="/user/{{ review.user_id }}">{{ review.username }}</a></li>
  {% endfor %}
</ul>
{% if session.user_id %}
<h3>Add review</h3>
<form action="/create_review" method="post">
  <p>
    <label for="rating">Rating</label>(1-5): <br />
    <input type="number" id="rating" name="rating" min="1" max="5" required />
  </p>
  <p>
    <label for="description">Review</label>: <br />
    <textarea id="description" name="description" rows="8" cols="60" maxlength="1000"></textarea>
  </p>
  <input type="hidden" name="game_id" value="{{ game.id }}" />.
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Add review" />
</form>
{% endif %}
<p>
  <a href="/">Return</a>
</p>
{% endblock %}
