{% extends "layout.html" %}

{% block title %}{{ game.title }} | {% endblock %}

{% block content %}
<h2>{{ game.title }}</h2>

{% if session.user_id == game.user_id %}
<p>
  <a href="/edit_game/{{ game.id }}">Edit</a>
  <a href="/remove_game/{{ game.id }}">Delete</a>
</p>
{% endif %}
<p>
  {{ game.description }}
</p>
<p>
  Year: {{ game.year }}
</p>
<p>
  Players: {{ game.min_player_count }}-{{ game.max_player_count }}
</p>
<p>
  Average play time: {{ game.playtime }} minutes
</p>
{% if classes %}
<ul>
  {% for class in classes %}
  <li>{{ class.title }}: {{ class.value }}</li>
  {% endfor %}
</ul>
{% endif %}
<p>
  Game added by: <a href="/user/{{ game.user_id }}">{{ game.username }}</a>
</p>
<p>
  <a href="/">Return</a>
</p>
{% endblock %}
