<!DOCTYPE html>
<html>

<head>
  <title>{{ game.title }} | Board Game Vault</title>
</head>

<body>
  <h1>{{ game.title }}</h1>

  {% if session.user_id == game.user_id %}
  <p>
    <a href="/edit_game/{{ game.id }}">Edit</a>
    <a href="/remove_game/{{ game.id }}">Delete</a>
  </p>
  {% endif %}
  <p>
    {{ game.description }}
  </p>
  <p>
    Year: {{ game.year }}
  </p>
  <p>
    Players: {{ game.min_player_count }}-{{ game.max_player_count }}
  </p>
  <p>
    Average play time: {{ game.playtime }} minutes
  </p>
  <p>
    Game added by: {{ game.username }}
  </p>
  <p>
    <a href="/">Return</a>
  </p>

</body>

</html>
